# Cache de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Temporales de Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Entornos virtuales (por si creaste uno con Anaconda o venv)
.venv/
venv/